
/*Sets the width of the overall page container div
to 90% of viewport width and margin:auto centers the page
in the middle of the browser no matter how wide you stretch the browser*/
.pagecontainer {
  /*everything will automatically center*/
  margin: auto;
  width: 90vw;
}
/*  font-family: 'Press Start 2P', cursive;
font-family: 'Raleway Dots', cursive;
font-family: 'Faster One', cursive;
font-family: 'Codystar', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Libre Barcode 39 Extended Text', cursive;
font-family: 'Libre Barcode 128 Text', cursive;*/
header {
  background-image: linear-gradient(#002C25 10%, black);
  padding: 2rem;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5em;
  color: white;
  width: auto;
  max-width: 100%;
  height: auto;
}
body {
  background-image: url("artzebra.png");
  background-repeat: repeat;
}
img {
  width: auto;
  max-width: 85%;
  height: auto;
}
/*Unordered list in the navbar is set to display flex with wrapping
so at smaller size-mobile width--it wraps vertically in a row
and at larger screen widths it spreads more horizontally.
And justify-content centers flex blox content*/
naZv ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  width: auto;
  max-width: 100%;
  height: auto;
}


/*Sets background color of nav list elements and their width and height*/
nav ul li {
  list-style-type: none;
  background: #002C25;
  height: 2rem;
  width: 36rem;
  padding-top: 1rem;
  border-color: black;
  border: solid;
  border-width: 1px;
  text-align: center;
  width: auto;
  max-width: 100%;
  height: auto;
}
/*Takes away the default underlining of links and sets color of menu font*/
nav ul li a {
  text-decoration: none;
  font-size: 2em;
  font-family: 'Libre Barcode 39 Text', cursive;
  color: #e7d067;
}
/*Active psuedoclass is used so When you click on a menu item it turns orange.*/
nav ul li:active {
  background: #e9892f;
}
/*This class should be applied to html differently on each page to let user know
which page you are on--in this case the home page*/
.locationmarker {
  background: #4b8552;
}

article h2{
  font-family: 'Press Start 2P', cursive;
  color: #e7d067;
  background-color: #4b8552;
  background-image: linear-gradient(#43675B 90%);
  padding-left: 2rem;
  padding-right: 2rem;
}
article {
  font-family: 'EB Garamond', serif;
  color: #e7d067;
  background-color: #43676B;
  background-image: linear-gradient(#43676B 10%, black);
  padding-left: 2rem;
  padding-right: 2rem;
}

article img {
  width: auto;
  max-width: 100%;
  height: auto;
}

footer {
  background: #a2d492;
  padding: 1rem;
  text-align: center;
}
