.pagecontainer {
  /*everything will automatically center*/
  margin: auto;
  width: 90vw;
  display: grid;
  grid-template-columns: 100fr;
  grid-template-rows: 2fr, 2fr, 2fr, 2fr;
}

header {
  grid-row: 1;
  grid-column: 1 / 2;
  background-image: linear-gradient(#002C25 10%, black);
  background-size: auto 100%;
  padding: 2rem;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.30em;
  color: white;
  width: auto;
  max-width: 100%;
  height: auto;
  overflow: auto;
  grid-row: 1/2
}

body {
  background-image: url("artzebra.png");
  background-repeat: repeat;
}

img {
  width: auto;
  max-width: 85%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

naZv ul {
  grid-row: 1;
  grid-column: 2 / 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  width: auto;
  max-width: 100%;
  height: auto;
  margin: auto;
  padding: 0;
}

/*Sets background color of nav list elements and their width and height*/
nav ul li {
  list-style-type: none;
  background: #002C25;
  height: 2rem;
  width: auto;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-color: black;
  border-width: 2px;
  text-align: center;
  max-width: 100%;
  text-decoration: none;
}

nav ul {
  padding-left: 10%;
  padding-right: 10%;
}

nav ul li a {
  text-decoration: none;
  font-size: 2em;
  font-family: 'Libre Barcode 39 Text', cursive;
  color: #e7d067;
}

nav ul li:active {
  background: #E9892f;
}

li {
  text-align: center;
  border-bottom: 1px solid #555;
}

.locationmarker {
  background: #4b8552;
}

article h2 {
  font-family: 'Press Start 2P', cursive;
  color: #e7d067;
  background-color: #4b8552;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

article {
  font-family: 'Raleway', sans-serif;
  color: #f4e6a8;
  background-color: #43676B;
  background-image: linear-gradient(#43676B 10%, black);
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 14pt;
  letter-spacing: 1px;
}

article img {
  width: auto;
  max-width: 100%;
  height: auto;
}

a:link {
  color: #E9892f;
}

a:visited {
  color: #4b8552;
}

footer {
  background-color: #4b8552;
  padding: 0.5rem;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
