.pagecontainer {
  /*everything will automatically center*/
  margin: auto;
  width: 100vw;
}

h3 {
  color: white;
}

header {
  background-size: auto 100%;
  padding: 2rem;
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-size: 2.6em;
  color: #ffcc00;
  text-shadow: 2px 2px 4px #a66359;
  width: auto;
  max-width: 100%;
  height: auto;
  overflow: auto;
}

header p {
  font-size: 0.7em;
  color: #C1B0FD;
}

body {
  background-image: url("back.svg");
  background-repeat: repeat;
  font-family: 'EB Garamond', serif;
}

.nav {
  top: 0;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

section.botton {
  color: white;
  text-align: center;
  padding: 14px 16px;
}

.botton a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  font-family: 'EB Garamond', serif;
}

/* Links - change color on hover */
.nav a:hover {
  background-color: #FFE200;
}

.flex-container>div {
  background-color: DodgerBlue;
  margin: 10px;
  padding: 20px;
  font-size: 14pt;
  font-family: 'EB Garamond', serif;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 65%;
  max-width: 40%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

@media (min-width: 2000px) {
  .column {
    flex: 70%;
    max-width: 75%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.button {
  width: 100%;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #FFE613;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #94CC14;
  border-bottom: 3px solid grey;
}

.button:hover {
  background-color: #FFE200
}

.button:active {
  background-color: #FFD700;
  box-shadow: 0 5px #94CC14;
  transform: translateY(4px);
}

.aboutme {
  padding: 20px;
  background-color: #FFD700;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'EB Garamond', serif;
  font-size: 1.5em;
}

.aboutme p {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.aboutme img {
  width: auto;
  height: auto;
  margin-right: 5px;
  /*float: left;*/
  max-width: 50vw;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

a:link {
  color: white;
}

a:visited {
  color: #51B86C;
}

footer {
  background-color: #4b8552;
  padding: 0.5rem;
  text-align: center;
}
