.pagecontainer {
  /*everything will automatically center*/
  margin: auto;
  width: 100vw;

}

@media (min-width: 900px) {
.feature {
		width: 100%;
    float: none;


}
}
header {
    background-size: auto 100%;
    padding: 2rem;
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 4px  #FFE200;
    width: auto;
    max-width: 100%;
    height: auto;
    overflow: auto;
}

body {
  background-image: url("IMG_1608.jpg");
  background-repeat: repeat;
}
/* The navbar container */
.nav {
	justify-content: center;
	text-align: center;
    overflow: hidden;

}
section botton{
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration:underline;
}
/* Navbar links */
.botton a:link {
    color: red;
}
.botton a {

    float: left;
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration:underline;

}

/* Links - change color on hover */
.nav a:hover {
    background-color: #FFE200;

}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 14pt;
  max-width: 60vw;

}

.button {

  width: 100%;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #FFE613;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #94CC14;
  border-bottom: 2px solid #555;
}

.button:hover {background-color: #FFE200}

.button:active {
  background-color: #FFD700;
  box-shadow: 0 5px #94CC14;
  transform: translateY(4px);
}
