.pagecontainer {
  /*everything will automatically center*/
  margin: auto;
  width: 100vw;
}

h3 {
  color: white;
}

header {
  background-size: auto 100%;
  padding: 2rem;
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-size: 2.6em;
  color: #ffcc00;
  text-shadow: 2px 2px 4px #a66359;
  width: auto;
  max-width: 100%;
  height: auto;
  overflow: auto;
}

header p {
  font-size: 0.7em;
  color: #C1B0FD;
}

body {
  background-image: url("back.svg");
  background-repeat: repeat;
  font-family: 'EB Garamond', serif;
}

.nav {
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

/* Links - change color on hover */
.nav a:hover {
  background-color: #FFE200;
}

naZv ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  width: auto;
  max-width: 100%;
  height: auto;
  margin: auto;
  padding: 0;
}

/*Sets background color of nav list elements and their width and height*/
nav ul li {
  list-style-type: none;
  background: #FFE613;
  height: 2rem;
  width: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-color: #94CC14;
  border-width: 2px;
  text-align: center;
  max-width: 100%;
  text-decoration: underline;
  justify-content: center;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

nav ul {
  padding-left: .5%;
  padding-right: .5%;
  margin-top: 0;
}

nav ul li a {
  text-decoration: none;
  font-size: 2em;
  color: #e7d067;
}

nav ul li:active {
  background: #E9892f;
}

li {
  text-align: center;
  border-bottom: 1px solid #555;
}

.flex-container>div {
  background-color: DodgerBlue;
  margin: 10px;
  padding: 20px;
  font-size: 14pt;
  font-family: 'EB Garamond', serif;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 65%;
  max-width: 40%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

@media (min-width: 2000px) {
  .column {
    flex: 70%;
    max-width: 75%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.aboutme {
  padding: 20px;
  background-color: #FFD700;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'EB Garamond', serif;
  font-size: 1.5em;
}

.aboutme p {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.aboutme img {
  width: auto;
  height: auto;
  margin-right: 5px;
  /*float: left;*/
  max-width: 50vw;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

a:link {
  color: white;
}

a:visited {
  color: #51B86C;
}

footer {
  background-color: #4b8552;
  padding: 0.5rem;
  text-align: center;
}
